FLASK_SECRET_KEY=(A randome string)
PEXELS_API_KEY=(Your Pexels API key)
GPT_EMAIL_LOGIN=(Your GPT account email)
GPT_PASSWORD_LOGIN=(Your GPT password)
Debug=False (Either True of False, Default is False)