<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Video Creator</title>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='dist/css/app.css')}}"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	</head>
	<body class="bg-slate-200 h-screen">
		<input type="hidden" value="{{ url_for('index') }}" />
		{% with messages = get_flashed_messages(with_categories=true) %} {% if
		messages %}
		<ul id="flashes" class="hidden absolute pt-8 w-full">
			<div class="w-full flex items-center justify-center">
				{% for category, message in messages %}
				<li
					class="rounded-b border-t-4  px-4 py-3 shadow-md {{ 'bg-teal-100 border-teal-500 text-teal-900' if category == 'info' else 'bg-red-100 border-red-500 text-red-900'}}"
					role="alert"
				>
					<div class="grid grid-rows-1 grid-flow-col gap-16">
						{{ message }}
						<button onclick="hideFlashes()">X</button>
					</div>
				</li>
				{% endfor %}
			</div>
		</ul>
		{% endif %} {% endwith %}
		<div class="h-dvh flex items-center justify-center">
			<div class="bg-white px-4 py-6 rounded-md min-w-96 w-1/4 shadow">
				<h1 class="text-center text-2xl pb-6">Video Creator</h1>
				<form
					id="form"
					class="h-full grid grid-cols-1 gap-4 content-center flex-1"
					action="{{ url_for('index') }}"
					method="post"
				>
					<div>
						<input
							id="prompt-input"
							class="w-full bg-slate-50 shadow-inner rounded self-center px-1 py-3 focus:outline-slate-500"
							placeholder="Video prompt"
							name="prompt"
						/>
						<p id="error-message" class="hidden text-red-600 py-2">
							<strong>Error:</strong> Prompt is required!
						</p>
					</div>
					<div class="w-full flex items-center justify-center">
						<button
							id="submit-btn"
							class="w-3/6 bg-slate-500 rounded p-1 text-white hover:bg-slate-600 disabled:bg-slate-400"
							type="button"
						>
							Create Video
						</button>
					</div>
					{% if filename %}
					<div class="w-full flex items-center justify-center">
						<a
							id="download-btn"
							class="hidden w-3/6 bg-green-800 text-white p-1 text-center rounded hover:bg-green-900"
							href="{{ url_for('download', filename=filename) }}"
							>Download</a
						>
					</div>
					{% endif %}
				</form>
				<p class="text-center font-light text-xs mt-3">
					Powered by Pexels and Chat GPT
				</p>
			</div>
		</div>
		<div id="submit-btn-loading-content" class="hidden">
			<svg
				aria-hidden="true"
				role="status"
				class="inline w-4 h-4 me-3 text-white animate-spin float-left"
				viewBox="0 0 100 101"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
					fill="#E5E7EB"
				/>
				<path
					d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
					fill="currentColor"
				/>
			</svg>
			Loading...
		</div>
	</body>
	<script>
		function loading() {
			$("#submit-btn").attr("disabled", "true");
			$("#prompt-input").attr("disabled", "true");
			$("#submit-btn").html($("#submit-btn-loading-content").html());
		}

		function hideFlashes() {
			$("#flashes").fadeOut();
		}

		$(document).ready(() => {
			$("#download-btn").fadeIn();
			$("#flashes").fadeIn();
			$("#submit-btn").click((_) => {
				if ($("#prompt-input").val() == "") {
					$("#error-message").fadeIn();
					$("#prompt-input").addClass("border-2 border-red-600");
					return;
				}
				$("#prompt-input").removeClass("border-2 border-red-600");
				$("#error-message").fadeOut();
				$("#download-btn").fadeOut();
				$("#form").submit();
				loading();
			});
			$("#prompt-input").change((_) => {
				if ($("#prompt-input").val() != "") {
					$("#error-message").fadeOut();
					$("#prompt-input").removeClass("border-2 border-red-600");
				}
			});
		});
	</script>
</html>
